# -------- backend -----------
export DJANGO_SETTINGS_MODULE=backend.settings
export PYTHONPATH="$PYTHONPATH:./backend"
export DEBUG="true"
export BASE_URL='/food/'
export BASE_API_URL='/api/v1/'
layout python
source_up

python -m pip install --upgrade -r "requirements.txt"

# Запускаем скрипт установки зависимостей
chmod +x ./install_requirements.sh
./install_requirements.sh

# -------- frontend -----------
# Настраиваем переменные окружения
layout node

# Устанавливаем зависимости при входе в каталог
if [ -f package-lock.json ]; then
    pnpm install
fi

# Добавление локальной версии Node.js в PATH
# export PATH="./node_modules/.bin:$PATH"